.planner {
  margin-top: 30px;
  margin-left: 40px;
  width: 90%;
  white-space: nowrap;
  vertical-align: middle;
  overflow-x: scroll;
  height: 540px;

  .plus {
    height: 40px;
    width: 40px;
    border: solid 1px;
    color: rgb(200, 200, 200);
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 230;
    margin: 10px;
    margin-left: 20px;
    padding-top: 0px;
  }
}
